class KiwiControl < Formula
  desc "Kiwi Control CLI for repo-first local control of coding agents"
  homepage "https://github.com/sonishrey9/kiwi-control"
  version "__VERSION__"
  depends_on "node@22"

__URL_BLOCKS__

  def install
    libexec.install Dir["*"]
    bin.install_symlink libexec/"bin/kiwi-control" => "kiwi-control"
    bin.install_symlink libexec/"bin/kc" => "kc"
  end

  test do
    system "#{bin}/kc", "--help"
  end
end
