PackageIdentifier: KiwiControl.KiwiControl
PackageVersion: __VERSION__
InstallerType: exe
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/OWNER/kiwi-control/releases/download/v__VERSION__/kiwi-control-__VERSION__-windows-x64-setup.exe
    InstallerSha256: __SHA256__
ManifestType: installer
ManifestVersion: 1.6.0
