PackageIdentifier: ShreyJunior.ShreyJunior
PackageVersion: __VERSION__
InstallerType: zip
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/OWNER/shrey-junior/releases/download/v__VERSION__/shrey-junior-cli-__VERSION__-windows-x64.zip
    InstallerSha256: __SHA256__
ManifestType: installer
ManifestVersion: 1.6.0
